{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="google" content="notranslate">
        <title>URL Shortener</title>
        <link
            rel="stylesheet"
            href="{% static 'css/main_app.css'%}"
            type="text/css"
        />
    </head>
    <body>
        <form method="post" id="myForm" class="form">
            {% csrf_token %}
            <div class="div">
                <div class="form_div">
                    {{ urlform }}
                    <input type="submit" value="Сократить" id="submit_button"/>
                </div>
                <div class="short_url_copy_button" id="short_url_copy_button" hidden>
                    <div id="short_url" hidden onclick="click_url()" title='Нажмите, чтобы скопировать'>
                        <p>
                            <span id="short_url_input" onchange="hidden_input()" onclick="click_url()">{{ short_url }}</span>
                        </p>
                    </div>
                    <div class="copy_div">
                        <input type="button" onclick="click_url()" value="Скопировать" id="copy_button" hidden title='Нажмите, чтобы скопировать'/>
                        <div id="copyMessage">Текст<br>скопирован!</div>
                    </div>
                </div>
            </div>
        </form>
    </body>
    <script type="text/javascript" src={% static 'js/main_app.js' %}></script>
</html>
